##### EXCHANGE SPECIFIC #####
# PW, KEY, SECRET come from an API key you generate.
# For security, DO NOT enable transfer/withdrawal capability
# when creating the API key. That functionality is not
# needed to run this trader.
PW = '<exchange_password>'
KEY = '<exchange_key>'
SECRET = '<exchange_secret>'
EXCHANGE_PROTOCOL = 'https'
EXCHANGE_HOST = 'api.gdax.com'
THROTTLE_MIN = '<0.35>' # time between requests, see https://docs.gdax.com/#rate-limits (3/sec public and 5/sec private)

##### PAIR BEING TRADED SPECIFIC #####
# base and quote currencies should comprise PRODUCT_ID ordered as "<BASE>-<QUOTE>"
BASE_CURRENCY = '<ZRX>'
QUOTE_CURRENCY = '<USD>'
PRODUCT_ID = '<ZRX-USD>'
SELL_FEE = '<0.003>' # taker fee - varies by volume and crypto, see https://www.gdax.com/fees/BTC-USD
BUY_FEE = '<0.003>' # taker fee - varies by volume and crypto, see https://www.gdax.com/fees/BTC-USD
MIN_TRADE_AMT = '<0.1>' # varies per crypto, see https://support.gdax.com/customer/portal/articles/2725970-trading-rules
QC_TICK_SIZE = '<0.000001>' # quote currency tick size (see exchange/market rules), exp: 0.01 when USD is quote currency
BC_TICK_SIZE = '<0.000001>' # base currency tick size (see exchange/market rules)
QC_TICK_LENGTH = '<6>' # quote currency tick size decimal places, i.e., 0.01 would be 2
BC_TICK_LENGTH = '<6>' # base currency tick size decimal places, i.e., 0.00001 would be 5

##### DATABASE #####
TUMBLEWEED_GDAX_DB_USER = '<db_username>'
TUMBLEWEED_GDAX_DB_PASSWORD = '<prod_db_password>'

##### OTHER #####
SECRET_KEY_BASE = '<generate with `rake secret`>'
