# frozen_string_literal: true

# See README for full explanation of these settings

class BotSettings
  QUANTITY = 0.1 # per buy order
  BUY_DOWN_INTERVAL = 0.20 # nominal
  PROFIT_INTERVAL = 0.20 # nominal
  PRINT_MANTRA = true # do or do not show mantra in logs (appears at beginning of trading cycles)
  HOARD_QC_PROFITS = true # set aside quote currency profits; keep them out of available funds to trade with
  ORDER_BACKFILLING = false # DANGER!! If true, this will backfill orders if/when trader resumes at a lower price than when it was stopped
  CANCEL_RETRIES = 10 # nominal
  QC_RESERVE = 0.0 # nominal amount of quote currency funds in your exchange account to exclude from trading activity
  CHILL_PARAMS = { consecutive_buys: 2, wait_time: 30 }.freeze # wait_time in minutes
end
